%pt-400 {
    font-family: 'PTSans-Regular', sans-serif;
    font-weight: 400;
}

%pt-700 {
    font-family: 'PTSans-Regular', sans-serif;
    font-weight: 700;
}

%lato-400 {
    font-family: 'Lato-Regular', sans-serif;
    font-weight: 400;
}

%lato-700 {
    font-family: 'Lato-Bold', sans-serif;
    font-weight: 700;
}

%lato-900 {
    font-family: 'Lato-Black', sans-serif;
    font-weight: 900;
}

$text: #585858;
$title: #2C2C2C;
$accent: #004AF2;