@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500&display=swap);

@import url(https://fonts.googleapis.com/css?family=Gelasio:500,600&display=swap);

@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #081F32;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  line-height: 1.6111111111;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  padding: 0.9375rem 1.875rem;
  background-color: #1B75BB;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  border: 3px solid transparent;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button-small {
  padding: 0.625rem 1.25rem;
  background-color: #1B75BB;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  border: 3px solid transparent;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.title {
  font-family: "Gelasio";
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.40625;
}

.header {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: auto;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (padding-top: clamp( 0.9375rem , 0.4829545455rem  +  2.2727272727vw , 2.1875rem )) {
  .header__top {
    padding-top: clamp( 0.9375rem , 0.4829545455rem  +  2.2727272727vw , 2.1875rem );
  }
}

@supports not (padding-top: clamp( 0.9375rem , 0.4829545455rem  +  2.2727272727vw , 2.1875rem )) {
  .header__top {
    padding-top: calc(0.9375rem + 1.25 * (100vw - 20rem) / 55);
  }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.4829545455rem  +  2.2727272727vw , 2.1875rem )) {
  .header__top {
    padding-bottom: clamp( 0.9375rem , 0.4829545455rem  +  2.2727272727vw , 2.1875rem );
  }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.4829545455rem  +  2.2727272727vw , 2.1875rem )) {
  .header__top {
    padding-bottom: calc(0.9375rem + 1.25 * (100vw - 20rem) / 55);
  }
}

@supports ((-moz-column-gap: clamp( 0.3125rem , -0.2556818182rem  +  2.8409090909vw , 1.875rem )) or (column-gap: clamp( 0.3125rem , -0.2556818182rem  +  2.8409090909vw , 1.875rem ))) {
  .header__top {
    -webkit-column-gap: clamp( 0.3125rem , -0.2556818182rem  +  2.8409090909vw , 1.875rem );
       -moz-column-gap: clamp( 0.3125rem , -0.2556818182rem  +  2.8409090909vw , 1.875rem );
            column-gap: clamp( 0.3125rem , -0.2556818182rem  +  2.8409090909vw , 1.875rem );
  }
}

@supports not ((-moz-column-gap: clamp( 0.3125rem , -0.2556818182rem  +  2.8409090909vw , 1.875rem )) or (column-gap: clamp( 0.3125rem , -0.2556818182rem  +  2.8409090909vw , 1.875rem ))) {
  .header__top {
    -webkit-column-gap: calc(0.3125rem + 1.5625 * (100vw - 20rem) / 55);
       -moz-column-gap: calc(0.3125rem + 1.5625 * (100vw - 20rem) / 55);
            column-gap: calc(0.3125rem + 1.5625 * (100vw - 20rem) / 55);
  }
}

.logo {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5;
}

.menu__body {
  left: -100%;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@supports ((-moz-column-gap: clamp( 0.3125rem , -0.4829545455rem  +  3.9772727273vw , 2.5rem )) or (column-gap: clamp( 0.3125rem , -0.4829545455rem  +  3.9772727273vw , 2.5rem ))) {
  .menu__list {
    -webkit-column-gap: clamp( 0.3125rem , -0.4829545455rem  +  3.9772727273vw , 2.5rem );
       -moz-column-gap: clamp( 0.3125rem , -0.4829545455rem  +  3.9772727273vw , 2.5rem );
            column-gap: clamp( 0.3125rem , -0.4829545455rem  +  3.9772727273vw , 2.5rem );
  }
}

@supports not ((-moz-column-gap: clamp( 0.3125rem , -0.4829545455rem  +  3.9772727273vw , 2.5rem )) or (column-gap: clamp( 0.3125rem , -0.4829545455rem  +  3.9772727273vw , 2.5rem ))) {
  .menu__list {
    -webkit-column-gap: calc(0.3125rem + 2.1875 * (100vw - 20rem) / 55);
       -moz-column-gap: calc(0.3125rem + 2.1875 * (100vw - 20rem) / 55);
            column-gap: calc(0.3125rem + 2.1875 * (100vw - 20rem) / 55);
  }
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@supports ((-moz-column-gap: clamp( 0.625rem , 0.0113636364rem  +  3.0681818182vw , 2.3125rem )) or (column-gap: clamp( 0.625rem , 0.0113636364rem  +  3.0681818182vw , 2.3125rem ))) {
  .menu__item {
    -webkit-column-gap: clamp( 0.625rem , 0.0113636364rem  +  3.0681818182vw , 2.3125rem );
       -moz-column-gap: clamp( 0.625rem , 0.0113636364rem  +  3.0681818182vw , 2.3125rem );
            column-gap: clamp( 0.625rem , 0.0113636364rem  +  3.0681818182vw , 2.3125rem );
  }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , 0.0113636364rem  +  3.0681818182vw , 2.3125rem )) or (column-gap: clamp( 0.625rem , 0.0113636364rem  +  3.0681818182vw , 2.3125rem ))) {
  .menu__item {
    -webkit-column-gap: calc(0.625rem + 1.6875 * (100vw - 20rem) / 55);
       -moz-column-gap: calc(0.625rem + 1.6875 * (100vw - 20rem) / 55);
            column-gap: calc(0.625rem + 1.6875 * (100vw - 20rem) / 55);
  }
}

.menu__link {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu__link button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link button::before {
  right: -0.9375rem;
  font-size: 0.5rem;
  color: #1B75BB;
}

.icon-menu {
  display: none;
}

.button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

@supports (padding-top: clamp( 0.9375rem , -0.7670454545rem  +  8.5227272727vw , 5.625rem )) {
  .body-header {
    padding-top: clamp( 0.9375rem , -0.7670454545rem  +  8.5227272727vw , 5.625rem );
  }
}

@supports not (padding-top: clamp( 0.9375rem , -0.7670454545rem  +  8.5227272727vw , 5.625rem )) {
  .body-header {
    padding-top: calc(0.9375rem + 4.6875 * (100vw - 20rem) / 55);
  }
}

@supports (padding-bottom: clamp( 0.9375rem , -0.9261363636rem  +  9.3181818182vw , 6.0625rem )) {
  .body-header {
    padding-bottom: clamp( 0.9375rem , -0.9261363636rem  +  9.3181818182vw , 6.0625rem );
  }
}

@supports not (padding-bottom: clamp( 0.9375rem , -0.9261363636rem  +  9.3181818182vw , 6.0625rem )) {
  .body-header {
    padding-bottom: calc(0.9375rem + 5.125 * (100vw - 20rem) / 55);
  }
}

.body-header__subtitle {
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #1B75BB;
  opacity: 0.8;
  margin-bottom: 0.9375rem;
}

.body-header__title {
  font-family: "Gelasio";
  font-weight: 600;
  max-width: 28.5rem;
  margin-bottom: 1.5625rem;
}

@supports (font-size: clamp( 2.5rem , 2.1136363636rem  +  1.9318181818vw , 3.5625rem )) {
  .body-header__title {
    font-size: clamp( 2.5rem , 2.1136363636rem  +  1.9318181818vw , 3.5625rem );
  }
}

@supports not (font-size: clamp( 2.5rem , 2.1136363636rem  +  1.9318181818vw , 3.5625rem )) {
  .body-header__title {
    font-size: calc(2.5rem + 1.0625 * (100vw - 20rem) / 55);
  }
}

@supports (line-height: clamp( 3rem , 2.5454545455rem  +  2.2727272727vw , 4.25rem )) {
  .body-header__title {
    line-height: clamp( 3rem , 2.5454545455rem  +  2.2727272727vw , 4.25rem );
  }
}

@supports not (line-height: clamp( 3rem , 2.5454545455rem  +  2.2727272727vw , 4.25rem )) {
  .body-header__title {
    line-height: calc(3rem + 1.25 * (100vw - 20rem) / 55);
  }
}

.body-header__title span {
  color: #1B75BB;
}

.body-header__text {
  max-width: 21.6875rem;
  opacity: 0.6;
  margin-bottom: 1.875rem;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer {
  background-color: #FCFCFD;
}

@supports (padding-top: clamp( 0.9375rem , 0.4829545455rem  +  2.2727272727vw , 2.1875rem )) {
  .footer {
    padding-top: clamp( 0.9375rem , 0.4829545455rem  +  2.2727272727vw , 2.1875rem );
  }
}

@supports not (padding-top: clamp( 0.9375rem , 0.4829545455rem  +  2.2727272727vw , 2.1875rem )) {
  .footer {
    padding-top: calc(0.9375rem + 1.25 * (100vw - 20rem) / 55);
  }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.4829545455rem  +  2.2727272727vw , 2.1875rem )) {
  .footer {
    padding-bottom: clamp( 0.9375rem , 0.4829545455rem  +  2.2727272727vw , 2.1875rem );
  }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.4829545455rem  +  2.2727272727vw , 2.1875rem )) {
  .footer {
    padding-bottom: calc(0.9375rem + 1.25 * (100vw - 20rem) / 55);
  }
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.social__list {
  max-width: 1.5rem;
  max-height: 1.5rem;
}

.social__list img {
  width: 100%;
}

@supports (padding-top: clamp( 1.875rem , 0.9659090909rem  +  4.5454545455vw , 4.375rem )) {
  .holiday {
    padding-top: clamp( 1.875rem , 0.9659090909rem  +  4.5454545455vw , 4.375rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 0.9659090909rem  +  4.5454545455vw , 4.375rem )) {
  .holiday {
    padding-top: calc(1.875rem + 2.5 * (100vw - 20rem) / 55);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 0.9659090909rem  +  4.5454545455vw , 4.375rem )) {
  .holiday {
    padding-bottom: clamp( 1.875rem , 0.9659090909rem  +  4.5454545455vw , 4.375rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.9659090909rem  +  4.5454545455vw , 4.375rem )) {
  .holiday {
    padding-bottom: calc(1.875rem + 2.5 * (100vw - 20rem) / 55);
  }
}

.holiday__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.875rem;
}

.media-holiday {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  max-height: 20.3125rem;
  height: 100%;
}

.media-holiday__video {
  position: relative;
}

.media-holiday__video img {
  width: 100%;
}

.media-holiday__video::before {
  content: "";
  position: absolute;
  background-image: url(../img/holiday/play_button.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  background-color: #fff;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@supports (width: clamp( 2.5rem , 1.1363636364rem  +  6.8181818182vw , 6.25rem )) {
  .media-holiday__video::before {
    width: clamp( 2.5rem , 1.1363636364rem  +  6.8181818182vw , 6.25rem );
  }
}

@supports not (width: clamp( 2.5rem , 1.1363636364rem  +  6.8181818182vw , 6.25rem )) {
  .media-holiday__video::before {
    width: calc(2.5rem + 3.75 * (100vw - 20rem) / 55);
  }
}

@supports (height: clamp( 2.5rem , 1.1363636364rem  +  6.8181818182vw , 6.25rem )) {
  .media-holiday__video::before {
    height: clamp( 2.5rem , 1.1363636364rem  +  6.8181818182vw , 6.25rem );
  }
}

@supports not (height: clamp( 2.5rem , 1.1363636364rem  +  6.8181818182vw , 6.25rem )) {
  .media-holiday__video::before {
    height: calc(2.5rem + 3.75 * (100vw - 20rem) / 55);
  }
}

.content-holiday {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.content-holiday__subtitle {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #1B75BB;
  opacity: 0.8;
  margin-bottom: 0.9375rem;
}

.content-holiday__title {
  max-width: 26.875rem;
  margin-bottom: 1.875rem;
}

@supports (padding-top: clamp( 1.875rem , 0.9659090909rem  +  4.5454545455vw , 4.375rem )) {
  .whyus {
    padding-top: clamp( 1.875rem , 0.9659090909rem  +  4.5454545455vw , 4.375rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 0.9659090909rem  +  4.5454545455vw , 4.375rem )) {
  .whyus {
    padding-top: calc(1.875rem + 2.5 * (100vw - 20rem) / 55);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 0.9659090909rem  +  4.5454545455vw , 4.375rem )) {
  .whyus {
    padding-bottom: clamp( 1.875rem , 0.9659090909rem  +  4.5454545455vw , 4.375rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.9659090909rem  +  4.5454545455vw , 4.375rem )) {
  .whyus {
    padding-bottom: calc(1.875rem + 2.5 * (100vw - 20rem) / 55);
  }
}

.whyus__container {
  text-align: center;
}

.whyus__title {
  margin-bottom: 1.5625rem;
}

.whyus__text {
  max-width: 51.25rem;
  margin: 0 auto;
}

@supports (margin-bottom: clamp( 0.9375rem , -0.0852272727rem  +  5.1136363636vw , 3.75rem )) {
  .whyus__text {
    margin-bottom: clamp( 0.9375rem , -0.0852272727rem  +  5.1136363636vw , 3.75rem );
  }
}

@supports not (margin-bottom: clamp( 0.9375rem , -0.0852272727rem  +  5.1136363636vw , 3.75rem )) {
  .whyus__text {
    margin-bottom: calc(0.9375rem + 2.8125 * (100vw - 20rem) / 55);
  }
}

.whyus__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item-whyus {
  text-align: center;
  padding: 1.3125rem 1.0625rem 1.125rem;
  max-width: 16.375rem;
}

.item-whyus__icon {
  width: 4.625rem;
  height: 4.375rem;
  background-position: top 0 left 50%;
  background-repeat: no-repeat;
  background-size: auto;
  margin: 0 auto 2.5rem;
}

.item-whyus__title {
  margin-bottom: 0.9375rem;
  font-family: "Gelasio";
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5;
}

@supports (padding-top: clamp( 1.875rem , 0.9659090909rem  +  4.5454545455vw , 4.375rem )) {
  .gallery {
    padding-top: clamp( 1.875rem , 0.9659090909rem  +  4.5454545455vw , 4.375rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 0.9659090909rem  +  4.5454545455vw , 4.375rem )) {
  .gallery {
    padding-top: calc(1.875rem + 2.5 * (100vw - 20rem) / 55);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 0.9659090909rem  +  4.5454545455vw , 4.375rem )) {
  .gallery {
    padding-bottom: clamp( 1.875rem , 0.9659090909rem  +  4.5454545455vw , 4.375rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.9659090909rem  +  4.5454545455vw , 4.375rem )) {
  .gallery {
    padding-bottom: calc(1.875rem + 2.5 * (100vw - 20rem) / 55);
  }
}

.gallery__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 1.875rem;
}

.item-gallery {
  position: relative;
}

.item-gallery__title {
  max-width: 27.4375rem;
  margin-bottom: 1.5625rem;
}

.item-gallery__text {
  max-width: 27.4375rem;
  margin-bottom: 1.875rem;
}

.item-gallery__info {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 1.4375rem 1.75rem;
  background: rgba(226, 226, 226, 0.4);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 10px;
  max-width: 14.4375rem;
}

.item-gallery__info-title {
  display: inline-block;
  margin-bottom: 0.75rem;
  font-family: "Gelasio";
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}

.item-gallery__info-price {
  display: inline-block;
  margin-bottom: 0.75rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  color: #081F32;
  opacity: 0.8;
}

.item-gallery img {
  width: 100%;
}

@supports (padding-top: clamp( 1.875rem , 0.9659090909rem  +  4.5454545455vw , 4.375rem )) {
  .review {
    padding-top: clamp( 1.875rem , 0.9659090909rem  +  4.5454545455vw , 4.375rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 0.9659090909rem  +  4.5454545455vw , 4.375rem )) {
  .review {
    padding-top: calc(1.875rem + 2.5 * (100vw - 20rem) / 55);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 0.9659090909rem  +  4.5454545455vw , 4.375rem )) {
  .review {
    padding-bottom: clamp( 1.875rem , 0.9659090909rem  +  4.5454545455vw , 4.375rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.9659090909rem  +  4.5454545455vw , 4.375rem )) {
  .review {
    padding-bottom: calc(1.875rem + 2.5 * (100vw - 20rem) / 55);
  }
}

.review__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}

@supports (margin-bottom: clamp( 1.25rem , 0.3409090909rem  +  4.5454545455vw , 3.75rem )) {
  .review__top {
    margin-bottom: clamp( 1.25rem , 0.3409090909rem  +  4.5454545455vw , 3.75rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.3409090909rem  +  4.5454545455vw , 3.75rem )) {
  .review__top {
    margin-bottom: calc(1.25rem + 2.5 * (100vw - 20rem) / 55);
  }
}

.item-review {
  text-align: center;
  -webkit-box-shadow: 0px 4px 30px rgba(199, 199, 199, 0.25);
          box-shadow: 0px 4px 30px rgba(199, 199, 199, 0.25);
  border-radius: 10px;
  padding: 1.75rem 2.5rem;
}

.item-review__icon {
  margin-bottom: 1.5625rem;
}

.item-review__text {
  margin: 0 auto 1.875rem;
  max-width: 17.5rem;
  position: relative;
}

.item-review__text::before {
  position: absolute;
  content: "";
  background-image: url(../img/review/decor.svg);
  background-repeat: no-repeat;
  background-size: auto;
  width: 1.5rem;
  height: 1.5rem;
  top: -0.9375rem;
  left: 0;
}

.item-review__name {
  margin-bottom: 0.3125rem;
}

@supports (padding-top: clamp( 1.875rem , 0.9659090909rem  +  4.5454545455vw , 4.375rem )) {
  .touch {
    padding-top: clamp( 1.875rem , 0.9659090909rem  +  4.5454545455vw , 4.375rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 0.9659090909rem  +  4.5454545455vw , 4.375rem )) {
  .touch {
    padding-top: calc(1.875rem + 2.5 * (100vw - 20rem) / 55);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 0.9659090909rem  +  4.5454545455vw , 4.375rem )) {
  .touch {
    padding-bottom: clamp( 1.875rem , 0.9659090909rem  +  4.5454545455vw , 4.375rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.9659090909rem  +  4.5454545455vw , 4.375rem )) {
  .touch {
    padding-bottom: calc(1.875rem + 2.5 * (100vw - 20rem) / 55);
  }
}

.touch__container {
  text-align: center;
}

.touch__subtitle {
  margin-bottom: 1.25rem;
}

.touch__title {
  margin-bottom: 3.125rem;
}

.touch__input {
  padding: 0.9375rem 11rem 0.9375rem 1.875rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 0.625rem;
}

@supports (padding-right: clamp( 1.875rem , -1.4431818182rem  +  16.5909090909vw , 11rem )) {
  .touch__input {
    padding-right: clamp( 1.875rem , -1.4431818182rem  +  16.5909090909vw , 11rem );
  }
}

@supports not (padding-right: clamp( 1.875rem , -1.4431818182rem  +  16.5909090909vw , 11rem )) {
  .touch__input {
    padding-right: calc(1.875rem + 9.125 * (100vw - 20rem) / 55);
  }
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    overflow: auto;
    background-color: #fff;
    padding: 6.25rem 0.9375rem 2.5rem 2.5rem;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    z-index: 4;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 70px;
    left: -100%;
    top: 0;
    background-color: #fff;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 0.9375rem;
    margin-bottom: 0.9375rem;
  }

  .menu__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.25rem;
    margin-bottom: 1.25rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .holiday__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .gallery__items {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 29.99875em) {
  .button {
    display: inherit;
    text-align: center;
  }

  .footer__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .review__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .item-review {
    margin-bottom: 1.25rem;
    padding: 0.625rem 1.25rem;
  }

  .touch__input {
    width: 100%;
  }

  .touch__button {
    width: 100%;
  }
}

@media (any-hover: hover) {
  .button:hover {
    color: #1B75BB;
    border: 3px solid #1B75BB;
    background-color: #fff;
  }

  .button-small:hover {
    color: #1B75BB;
    border: 3px solid #1B75BB;
    background-color: #fff;
  }

  .menu__link:hover {
    color: #1B75BB;
  }
}