@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow_forward:before {
  content: "\e900";
}

._icon-cart:before {
  content: "\e901";
}

._icon-clock:before {
  content: "\e902";
}

._icon-clock_timer:before {
  content: "\e903";
}

._icon-email:before {
  content: "\e904";
}

._icon-expand_more:before {
  content: "\e905";
}

._icon-facebook:before {
  content: "\e906";
}

._icon-instagram:before {
  content: "\e907";
}

._icon-location:before {
  content: "\e908";
}

._icon-logo:before {
  content: "\e909";
}

._icon-phone:before {
  content: "\e90a";
}

._icon-search:before {
  content: "\e90b";
}

._icon-smartphone:before {
  content: "\e90c";
}

._icon-title_decor:before {
  content: "\e90d";
}

._icon-twitter:before {
  content: "\e90e";
}

._icon-youtube:before {
  content: "\e90f";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #4B4B4B;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  line-height: 1.5;
  letter-spacing: 0.15px;
  background-color: #F5F5F5;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 63.75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  max-width: 13.75rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5625rem 1.25rem;
  background-color: #C40B0B;
  font-weight: 700;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  gap: 1.25rem;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  color: #fff;
}

@supports (font-size: clamp( 0.625rem , 0.5702054795rem  +  0.2739726027vw , 0.75rem )) {
  .button {
    font-size: clamp( 0.625rem , 0.5702054795rem  +  0.2739726027vw , 0.75rem );
  }
}

@supports not (font-size: clamp( 0.625rem , 0.5702054795rem  +  0.2739726027vw , 0.75rem )) {
  .button {
    font-size: calc(0.625rem + 0.125 * (100vw - 20rem) / 45.625);
  }
}

@supports (line-height: clamp( 1.25rem , 1.1404109589rem  +  0.5479452055vw , 1.5rem )) {
  .button {
    line-height: clamp( 1.25rem , 1.1404109589rem  +  0.5479452055vw , 1.5rem );
  }
}

@supports not (line-height: clamp( 1.25rem , 1.1404109589rem  +  0.5479452055vw , 1.5rem )) {
  .button {
    line-height: calc(1.25rem + 0.25 * (100vw - 20rem) / 45.625);
  }
}

.button::before {
  background-color: #E30B0B;
}

.title {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 2;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (margin-bottom: clamp( 0.9375rem , 0.4443493151rem  +  2.4657534247vw , 2.0625rem )) {
  .title {
    margin-bottom: clamp( 0.9375rem , 0.4443493151rem  +  2.4657534247vw , 2.0625rem );
  }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.4443493151rem  +  2.4657534247vw , 2.0625rem )) {
  .title {
    margin-bottom: calc(0.9375rem + 1.125 * (100vw - 20rem) / 45.625);
  }
}

.title::before {
  font-size: 1.5625rem;
}

.subtitle {
  font-weight: 900;
  color: #02133C;
}

@supports (font-size: clamp( 1.5rem , 1.1712328767rem  +  1.6438356164vw , 2.25rem )) {
  .subtitle {
    font-size: clamp( 1.5rem , 1.1712328767rem  +  1.6438356164vw , 2.25rem );
  }
}

@supports not (font-size: clamp( 1.5rem , 1.1712328767rem  +  1.6438356164vw , 2.25rem )) {
  .subtitle {
    font-size: calc(1.5rem + 0.75 * (100vw - 20rem) / 45.625);
  }
}

@supports (line-height: clamp( 1.5625rem , 1.0967465753rem  +  2.3287671233vw , 2.625rem )) {
  .subtitle {
    line-height: clamp( 1.5625rem , 1.0967465753rem  +  2.3287671233vw , 2.625rem );
  }
}

@supports not (line-height: clamp( 1.5625rem , 1.0967465753rem  +  2.3287671233vw , 2.625rem )) {
  .subtitle {
    line-height: calc(1.5625rem + 1.0625 * (100vw - 20rem) / 45.625);
  }
}

.no-webp .header{
  background-image: url(../img/header/header_bg.jpg); }

.header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #fff;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 5rem;
}

.header__top {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports ((-moz-column-gap: clamp( 0.3125rem , -0.3724315068rem  +  3.4246575342vw , 1.875rem )) or (column-gap: clamp( 0.3125rem , -0.3724315068rem  +  3.4246575342vw , 1.875rem ))) {
  .header__top {
    -webkit-column-gap: clamp( 0.3125rem , -0.3724315068rem  +  3.4246575342vw , 1.875rem );
       -moz-column-gap: clamp( 0.3125rem , -0.3724315068rem  +  3.4246575342vw , 1.875rem );
            column-gap: clamp( 0.3125rem , -0.3724315068rem  +  3.4246575342vw , 1.875rem );
  }
}

@supports not ((-moz-column-gap: clamp( 0.3125rem , -0.3724315068rem  +  3.4246575342vw , 1.875rem )) or (column-gap: clamp( 0.3125rem , -0.3724315068rem  +  3.4246575342vw , 1.875rem ))) {
  .header__top {
    -webkit-column-gap: calc(0.3125rem + 1.5625 * (100vw - 20rem) / 45.625);
       -moz-column-gap: calc(0.3125rem + 1.5625 * (100vw - 20rem) / 45.625);
            column-gap: calc(0.3125rem + 1.5625 * (100vw - 20rem) / 45.625);
  }
}

@supports (padding-top: clamp( 0.625rem , -0.5892857143rem  +  2.5297619048vw , 1.6875rem )) {
  .header__top {
    padding-top: clamp( 0.625rem , -0.5892857143rem  +  2.5297619048vw , 1.6875rem );
  }
}

@supports not (padding-top: clamp( 0.625rem , -0.5892857143rem  +  2.5297619048vw , 1.6875rem )) {
  .header__top {
    padding-top: calc(0.625rem + 1.0625 * (100vw - 48rem) / 42);
  }
}

@supports (padding-bottom: clamp( 0.625rem , -0.5892857143rem  +  2.5297619048vw , 1.6875rem )) {
  .header__top {
    padding-bottom: clamp( 0.625rem , -0.5892857143rem  +  2.5297619048vw , 1.6875rem );
  }
}

@supports not (padding-bottom: clamp( 0.625rem , -0.5892857143rem  +  2.5297619048vw , 1.6875rem )) {
  .header__top {
    padding-bottom: calc(0.625rem + 1.0625 * (100vw - 48rem) / 42);
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 22px;
     -moz-column-gap: 22px;
          column-gap: 22px;
  padding: 0.625rem 2.5rem;
  background-color: #fff;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.5714285714;
  color: #02133C;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  margin-bottom: 3.125rem;
}

.header__button {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.top-header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.top-header__logo img {
  width: 100%;
}

@supports (max-width: clamp( 8.125rem , 6.9195205479rem  +  6.0273972603vw , 10.875rem )) {
  .top-header__logo img {
    max-width: clamp( 8.125rem , 6.9195205479rem  +  6.0273972603vw , 10.875rem );
  }
}

@supports not (max-width: clamp( 8.125rem , 6.9195205479rem  +  6.0273972603vw , 10.875rem )) {
  .top-header__logo img {
    max-width: calc(8.125rem + 2.75 * (100vw - 20rem) / 45.625);
  }
}

.top-header__logo::before {
  font-size: 2.5625rem;
  color: #C40B0B;
}

@supports (font-size: clamp( 0.75rem , 0.6404109589rem  +  0.5479452055vw , 1rem )) {
  .top-header__hours {
    font-size: clamp( 0.75rem , 0.6404109589rem  +  0.5479452055vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 0.6404109589rem  +  0.5479452055vw , 1rem )) {
  .top-header__hours {
    font-size: calc(0.75rem + 0.25 * (100vw - 20rem) / 45.625);
  }
}

@supports (font-size: clamp( 1.125rem , 0.9606164384rem  +  0.8219178082vw , 1.5rem )) {
  .top-header__hours {
    font-size: clamp( 1.125rem , 0.9606164384rem  +  0.8219178082vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 0.9606164384rem  +  0.8219178082vw , 1.5rem )) {
  .top-header__hours {
    font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 45.625);
  }
}

.hours-top-header,
.contact-top-header {
  position: relative;
  padding-left: 2.125rem;
}

.hours-top-header::before,
.contact-top-header::before {
  position: absolute;
  top: 0.3125rem;
  left: 0;
  color: #C40B0B;
}

@supports (font-size: clamp( 1.125rem , 0.9606164384rem  +  0.8219178082vw , 1.5rem )) {
  .hours-top-header::before,
  .contact-top-header::before {
    font-size: clamp( 1.125rem , 0.9606164384rem  +  0.8219178082vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 0.9606164384rem  +  0.8219178082vw , 1.5rem )) {
  .hours-top-header::before,
  .contact-top-header::before {
    font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 45.625);
  }
}

.hours-top-header__list,
.contact-top-header__list {
  font-size: 0.75rem;
  line-height: 1.8333333333;
  letter-spacing: 0.15px;
}

.hours-top-header__item:first-child,
.contact-top-header__item:first-child {
  text-transform: uppercase;
}

@supports (margin-bottom: clamp( 3.125rem , -7.2544642857rem  +  16.7410714286vw , 7.8125rem )) {
  .nav-header {
    margin-bottom: clamp( 3.125rem , -7.2544642857rem  +  16.7410714286vw , 7.8125rem );
  }
}

@supports not (margin-bottom: clamp( 3.125rem , -7.2544642857rem  +  16.7410714286vw , 7.8125rem )) {
  .nav-header {
    margin-bottom: calc(3.125rem + 4.6875 * (100vw - 62rem) / 28);
  }
}

.nav-header__search::before {
  font-size: 1.5rem;
}

.nav-header__cart::before {
  font-size: 1.5rem;
}

.menu__body {
  left: -100%;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@supports ((-moz-column-gap: clamp( 0.625rem , -0.1147260274rem  +  3.698630137vw , 2.3125rem )) or (column-gap: clamp( 0.625rem , -0.1147260274rem  +  3.698630137vw , 2.3125rem ))) {
  .menu__item {
    -webkit-column-gap: clamp( 0.625rem , -0.1147260274rem  +  3.698630137vw , 2.3125rem );
       -moz-column-gap: clamp( 0.625rem , -0.1147260274rem  +  3.698630137vw , 2.3125rem );
            column-gap: clamp( 0.625rem , -0.1147260274rem  +  3.698630137vw , 2.3125rem );
  }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , -0.1147260274rem  +  3.698630137vw , 2.3125rem )) or (column-gap: clamp( 0.625rem , -0.1147260274rem  +  3.698630137vw , 2.3125rem ))) {
  .menu__item {
    -webkit-column-gap: calc(0.625rem + 1.6875 * (100vw - 20rem) / 45.625);
       -moz-column-gap: calc(0.625rem + 1.6875 * (100vw - 20rem) / 45.625);
            column-gap: calc(0.625rem + 1.6875 * (100vw - 20rem) / 45.625);
  }
}

.menu__link {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu__link button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link button::before {
  right: -0.9375rem;
  font-size: 0.5rem;
  color: #C40B0B;
}

.body-header__title {
  font-weight: 900;
  max-width: 36.4375rem;
}

@supports (font-size: clamp( 2.5rem , 2.0616438356rem  +  2.1917808219vw , 3.5rem )) {
  .body-header__title {
    font-size: clamp( 2.5rem , 2.0616438356rem  +  2.1917808219vw , 3.5rem );
  }
}

@supports not (font-size: clamp( 2.5rem , 2.0616438356rem  +  2.1917808219vw , 3.5rem )) {
  .body-header__title {
    font-size: calc(2.5rem + 1 * (100vw - 20rem) / 45.625);
  }
}

@supports (line-height: clamp( 2.5rem , 2.0616438356rem  +  2.1917808219vw , 3.5rem )) {
  .body-header__title {
    line-height: clamp( 2.5rem , 2.0616438356rem  +  2.1917808219vw , 3.5rem );
  }
}

@supports not (line-height: clamp( 2.5rem , 2.0616438356rem  +  2.1917808219vw , 3.5rem )) {
  .body-header__title {
    line-height: calc(2.5rem + 1 * (100vw - 20rem) / 45.625);
  }
}

@supports (margin-bottom: clamp( 1.25rem , -3.4479865772rem  +  23.4899328859vw , 7.8125rem )) {
  .body-header__title {
    margin-bottom: clamp( 1.25rem , -3.4479865772rem  +  23.4899328859vw , 7.8125rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , -3.4479865772rem  +  23.4899328859vw , 7.8125rem )) {
  .body-header__title {
    margin-bottom: calc(1.25rem + 6.5625 * (100vw - 20rem) / 27.9375);
  }
}

.icon-menu {
  display: none;
}

@supports (padding-top: clamp( 1.875rem , 0.5599315068rem  +  6.5753424658vw , 4.875rem )) {
  .footer__container {
    padding-top: clamp( 1.875rem , 0.5599315068rem  +  6.5753424658vw , 4.875rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 0.5599315068rem  +  6.5753424658vw , 4.875rem )) {
  .footer__container {
    padding-top: calc(1.875rem + 3 * (100vw - 20rem) / 45.625);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 0.0119863014rem  +  9.3150684932vw , 6.125rem )) {
  .footer__container {
    padding-bottom: clamp( 1.875rem , 0.0119863014rem  +  9.3150684932vw , 6.125rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.0119863014rem  +  9.3150684932vw , 6.125rem )) {
  .footer__container {
    padding-bottom: calc(1.875rem + 4.25 * (100vw - 20rem) / 45.625);
  }
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.5714285714;
  letter-spacing: 0.15px;
}

@supports (gap: clamp( 1.25rem , 0.7020547945rem  +  2.7397260274vw , 2.5rem )) {
  .footer__top {
    gap: clamp( 1.25rem , 0.7020547945rem  +  2.7397260274vw , 2.5rem );
  }
}

@supports not (gap: clamp( 1.25rem , 0.7020547945rem  +  2.7397260274vw , 2.5rem )) {
  .footer__top {
    gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 45.625);
  }
}

.footer__top-left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
}

.footer__top-middle {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
}

.footer__top-right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
}

.left-footer__logo img {
  margin-bottom: 1.4375rem;
}

.left-footer__text {
  margin-bottom: 2.0625rem;
}

.left-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.125rem;
  color: #C40B0B;
  font-size: 1.5rem;
}

.middle-footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
  /* /Neutral/Gray 1 */
  color: #4B4B4B;
}

.middle-footer__title {
  text-transform: uppercase;
}

@supports (margin-bottom: clamp( 0.625rem , 0.1318493151rem  +  2.4657534247vw , 1.75rem )) {
  .middle-footer__title {
    margin-bottom: clamp( 0.625rem , 0.1318493151rem  +  2.4657534247vw , 1.75rem );
  }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.1318493151rem  +  2.4657534247vw , 1.75rem )) {
  .middle-footer__title {
    margin-bottom: calc(0.625rem + 1.125 * (100vw - 20rem) / 45.625);
  }
}

.middle-footer__list:not(:last-child) {
  margin-bottom: 0.6875rem;
}

.right-footer {
  text-align: center;
}

.right-footer__title {
  text-transform: uppercase;
}

@supports (margin-bottom: clamp( 0.625rem , 0.1318493151rem  +  2.4657534247vw , 1.75rem )) {
  .right-footer__title {
    margin-bottom: clamp( 0.625rem , 0.1318493151rem  +  2.4657534247vw , 1.75rem );
  }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.1318493151rem  +  2.4657534247vw , 1.75rem )) {
  .right-footer__title {
    margin-bottom: calc(0.625rem + 1.125 * (100vw - 20rem) / 45.625);
  }
}

.right-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.125rem;
  text-align: start;
}

.right-footer__list:not(:last-child) {
  margin-bottom: 1rem;
}

.right-footer__list::before {
  font-size: 1rem;
  color: #C40B0B;
}

.bottom-footer {
  background-color: #02133C;
}

.bottom-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1.4375rem;
  padding-bottom: 1.125rem;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.15px;
  color: #959595;
}

.bottom-footer__link {
  font-weight: 700;
}

.no-webp .whoweare__container{
  background-image: url(../img/whoweare/whoweare_bg.png); }

.whoweare__container {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top 0 right 0;
  background-color: #fff;
  margin-top: -5rem;
}

@supports (padding-top: clamp( 1.875rem , -0.0428082192rem  +  9.5890410959vw , 6.25rem )) {
  .whoweare__container {
    padding-top: clamp( 1.875rem , -0.0428082192rem  +  9.5890410959vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , -0.0428082192rem  +  9.5890410959vw , 6.25rem )) {
  .whoweare__container {
    padding-top: calc(1.875rem + 4.375 * (100vw - 20rem) / 45.625);
  }
}

@supports (padding-right: clamp( 0.625rem , -1.4845890411rem  +  10.5479452055vw , 5.4375rem )) {
  .whoweare__container {
    padding-right: clamp( 0.625rem , -1.4845890411rem  +  10.5479452055vw , 5.4375rem );
  }
}

@supports not (padding-right: clamp( 0.625rem , -1.4845890411rem  +  10.5479452055vw , 5.4375rem )) {
  .whoweare__container {
    padding-right: calc(0.625rem + 4.8125 * (100vw - 20rem) / 45.625);
  }
}

@supports (padding-left: clamp( 0.625rem , -1.4845890411rem  +  10.5479452055vw , 5.4375rem )) {
  .whoweare__container {
    padding-left: clamp( 0.625rem , -1.4845890411rem  +  10.5479452055vw , 5.4375rem );
  }
}

@supports not (padding-left: clamp( 0.625rem , -1.4845890411rem  +  10.5479452055vw , 5.4375rem )) {
  .whoweare__container {
    padding-left: calc(0.625rem + 4.8125 * (100vw - 20rem) / 45.625);
  }
}

@supports (margin-bottom: clamp( 1.875rem , -0.5907534247rem  +  12.3287671233vw , 7.5rem )) {
  .whoweare__container {
    margin-bottom: clamp( 1.875rem , -0.5907534247rem  +  12.3287671233vw , 7.5rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , -0.5907534247rem  +  12.3287671233vw , 7.5rem )) {
  .whoweare__container {
    margin-bottom: calc(1.875rem + 5.625 * (100vw - 20rem) / 45.625);
  }
}

.whoweare__container-small {
  max-width: 52.875rem;
}

.whoweare__subtitle {
  max-width: 36.4375rem;
}

@supports (margin-bottom: clamp( 0.9375rem , 0.3621575342rem  +  2.8767123288vw , 2.25rem )) {
  .whoweare__subtitle {
    margin-bottom: clamp( 0.9375rem , 0.3621575342rem  +  2.8767123288vw , 2.25rem );
  }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.3621575342rem  +  2.8767123288vw , 2.25rem )) {
  .whoweare__subtitle {
    margin-bottom: calc(0.9375rem + 1.3125 * (100vw - 20rem) / 45.625);
  }
}

@supports (margin-bottom: clamp( 0.9375rem , -0.1309931507rem  +  5.3424657534vw , 3.375rem )) {
  .whoweare__text {
    margin-bottom: clamp( 0.9375rem , -0.1309931507rem  +  5.3424657534vw , 3.375rem );
  }
}

@supports not (margin-bottom: clamp( 0.9375rem , -0.1309931507rem  +  5.3424657534vw , 3.375rem )) {
  .whoweare__text {
    margin-bottom: calc(0.9375rem + 2.4375 * (100vw - 20rem) / 45.625);
  }
}

.whoweare__images {
  -webkit-transform: translateY(120px);
      -ms-transform: translateY(120px);
          transform: translateY(120px);
  padding-bottom: -7.5rem;
  margin-top: -7.5rem;
}

.whoweare__images img {
  width: 100%;
}

@supports (padding-top: clamp( 0.3125rem , -2.5642123288rem  +  14.3835616438vw , 6.875rem )) {
  .promise__container {
    padding-top: clamp( 0.3125rem , -2.5642123288rem  +  14.3835616438vw , 6.875rem );
  }
}

@supports not (padding-top: clamp( 0.3125rem , -2.5642123288rem  +  14.3835616438vw , 6.875rem )) {
  .promise__container {
    padding-top: calc(0.3125rem + 6.5625 * (100vw - 20rem) / 45.625);
  }
}

@supports (padding-bottom: clamp( 0.3125rem , -2.8929794521rem  +  16.0273972603vw , 7.625rem )) {
  .promise__container {
    padding-bottom: clamp( 0.3125rem , -2.8929794521rem  +  16.0273972603vw , 7.625rem );
  }
}

@supports not (padding-bottom: clamp( 0.3125rem , -2.8929794521rem  +  16.0273972603vw , 7.625rem )) {
  .promise__container {
    padding-bottom: calc(0.3125rem + 7.3125 * (100vw - 20rem) / 45.625);
  }
}

.promise__subtitle {
  margin-bottom: 1.625rem;
}

.promise__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.625rem;
}

.promise__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top 0 left 0;
  padding-left: 5.375rem;
}

.item-promise__title {
  font-weight: 900;
  font-size: 1.1875rem;
  line-height: 1.3684210526;
  color: #02133C;
  margin-bottom: 1.25rem;
}

.video {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: auto;
}

.video__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@supports (padding-top: clamp( 1.875rem , -0.3715753425rem  +  11.2328767123vw , 7rem )) {
  .video__container {
    padding-top: clamp( 1.875rem , -0.3715753425rem  +  11.2328767123vw , 7rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , -0.3715753425rem  +  11.2328767123vw , 7rem )) {
  .video__container {
    padding-top: calc(1.875rem + 5.125 * (100vw - 20rem) / 45.625);
  }
}

@supports (padding-bottom: clamp( 1.875rem , -0.5907534247rem  +  12.3287671233vw , 7.5rem )) {
  .video__container {
    padding-bottom: clamp( 1.875rem , -0.5907534247rem  +  12.3287671233vw , 7.5rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.5907534247rem  +  12.3287671233vw , 7.5rem )) {
  .video__container {
    padding-bottom: calc(1.875rem + 5.625 * (100vw - 20rem) / 45.625);
  }
}

.video__text {
  font-weight: 900;
  font-size: 2.25rem;
  line-height: 1.1666666667;
  color: #FFFFFF;
  margin-bottom: 1.75rem;
  max-width: 25.6875rem;
}

.video__play img {
  background-color: #fff;
  padding: 1.1875rem 1rem 1.1875rem 1.375rem;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 0px 12px rgba(255, 255, 255, 0.2), 0px 0px 0px 24px rgba(255, 255, 255, 0.12);
          box-shadow: 0px 0px 0px 12px rgba(255, 255, 255, 0.2), 0px 0px 0px 24px rgba(255, 255, 255, 0.12);
}

@supports (margin-right: clamp( 6.25rem , 0.7705479452rem  +  27.397260274vw , 18.75rem )) {
  .video__play img {
    margin-right: clamp( 6.25rem , 0.7705479452rem  +  27.397260274vw , 18.75rem );
  }
}

@supports not (margin-right: clamp( 6.25rem , 0.7705479452rem  +  27.397260274vw , 18.75rem )) {
  .video__play img {
    margin-right: calc(6.25rem + 12.5 * (100vw - 20rem) / 45.625);
  }
}

.services {
  position: relative;
  background-color: #F5F5F5;
}

@supports (padding-top: clamp( 0.3125rem , -2.5642123288rem  +  14.3835616438vw , 6.875rem )) {
  .services {
    padding-top: clamp( 0.3125rem , -2.5642123288rem  +  14.3835616438vw , 6.875rem );
  }
}

@supports not (padding-top: clamp( 0.3125rem , -2.5642123288rem  +  14.3835616438vw , 6.875rem )) {
  .services {
    padding-top: calc(0.3125rem + 6.5625 * (100vw - 20rem) / 45.625);
  }
}

@supports (padding-bottom: clamp( 0.3125rem , -2.8929794521rem  +  16.0273972603vw , 7.625rem )) {
  .services {
    padding-bottom: clamp( 0.3125rem , -2.8929794521rem  +  16.0273972603vw , 7.625rem );
  }
}

@supports not (padding-bottom: clamp( 0.3125rem , -2.8929794521rem  +  16.0273972603vw , 7.625rem )) {
  .services {
    padding-bottom: calc(0.3125rem + 7.3125 * (100vw - 20rem) / 45.625);
  }
}

.services::before,
.services::after {
  width: 100%;
  height: 100%;
  content: "";
  background-image: url(../img/services/services_bg_top.svg);
  position: absolute;
  background-repeat: no-repeat;
  background-size: auto;
  pointer-events: none;
}

.services::before {
  top: 0;
  left: 0;
}

.services::after {
  content: "";
  bottom: 0;
  right: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.services__container {
  position: relative;
  z-index: 1;
}

@supports (margin-bottom: clamp( 1.875rem , 0.5599315068rem  +  6.5753424658vw , 4.875rem )) {
  .services__subtitle {
    margin-bottom: clamp( 1.875rem , 0.5599315068rem  +  6.5753424658vw , 4.875rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.5599315068rem  +  6.5753424658vw , 4.875rem )) {
  .services__subtitle {
    margin-bottom: calc(1.875rem + 3 * (100vw - 20rem) / 45.625);
  }
}

.services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@supports (margin-bottom: clamp( 1.875rem , 0.8886986301rem  +  4.9315068493vw , 4.125rem )) {
  .services__items {
    margin-bottom: clamp( 1.875rem , 0.8886986301rem  +  4.9315068493vw , 4.125rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.8886986301rem  +  4.9315068493vw , 4.125rem )) {
  .services__items {
    margin-bottom: calc(1.875rem + 2.25 * (100vw - 20rem) / 45.625);
  }
}

.services__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  max-width: 20.25rem;
  padding: 3.125rem 2.75rem;
  text-align: center;
  background-color: #fff;
}

.services__button {
  text-align: center;
}

.item-services__icon {
  width: 3.9375rem;
  height: 63px;
  background-repeat: no-repeat;
  background-size: auto;
  margin: 0 auto 2.0625rem;
}

.item-services__title {
  font-weight: 900;
  font-size: 1.1875rem;
  line-height: 1.3684210526;
  color: #02133C;
  margin-bottom: 1.25rem;
}

.appointment {
  background-color: #02133C;
  position: relative;
}

.appointment::before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: auto;
  pointer-events: none;
}

.appointment::before {
  background-image: url(../img/appointment/bg_top.svg);
  background-position: top 0 right 0;
}

.appointment__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

@supports (padding-top: clamp( 1.875rem , -0.8647260274rem  +  13.698630137vw , 8.125rem )) {
  .appointment__container {
    padding-top: clamp( 1.875rem , -0.8647260274rem  +  13.698630137vw , 8.125rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , -0.8647260274rem  +  13.698630137vw , 8.125rem )) {
  .appointment__container {
    padding-top: calc(1.875rem + 6.25 * (100vw - 20rem) / 45.625);
  }
}

@supports (padding-bottom: clamp( 1.875rem , -3.0565068493rem  +  24.6575342466vw , 13.125rem )) {
  .appointment__container {
    padding-bottom: clamp( 1.875rem , -3.0565068493rem  +  24.6575342466vw , 13.125rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , -3.0565068493rem  +  24.6575342466vw , 13.125rem )) {
  .appointment__container {
    padding-bottom: calc(1.875rem + 11.25 * (100vw - 20rem) / 45.625);
  }
}

.appointment__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 57%;
          flex: 1 1 57%;
}

.appointment__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 43%;
          flex: 1 1 43%;
}

.input-appointment {
  max-width: 36.5625rem;
  background-color: #fff;
  padding: 4.75rem 3.5625rem;
}

.input-appointment__title {
  text-align: center;
  margin-bottom: 3rem;
}

.input-appointment__input,
.input-appointment__textarea {
  background-color: #F5F5F5;
  padding: 1.0625rem 1.4375rem 0.9375rem;
}

.input-appointment__input {
  margin-bottom: 1.375rem;
}

.input-appointment__textarea {
  width: 100%;
  resize: none;
  margin-bottom: 1.875rem;
}

.content-appointment {
  font-weight: 900;
  color: #FFFFFF;
  text-align: center;
}

.content-appointment__title {
  line-height: 1.2;
}

@supports (font-size: clamp( 1.5rem , 1.3356164384rem  +  0.8219178082vw , 1.875rem )) {
  .content-appointment__title {
    font-size: clamp( 1.5rem , 1.3356164384rem  +  0.8219178082vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 1.5rem , 1.3356164384rem  +  0.8219178082vw , 1.875rem )) {
  .content-appointment__title {
    font-size: calc(1.5rem + 0.375 * (100vw - 20rem) / 45.625);
  }
}

@supports (margin-bottom: clamp( 1.875rem , 1.4366438356rem  +  2.1917808219vw , 2.875rem )) {
  .content-appointment__title {
    margin-bottom: clamp( 1.875rem , 1.4366438356rem  +  2.1917808219vw , 2.875rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.4366438356rem  +  2.1917808219vw , 2.875rem )) {
  .content-appointment__title {
    margin-bottom: calc(1.875rem + 1 * (100vw - 20rem) / 45.625);
  }
}

.content-appointment__num {
  line-height: 0.5208333333;
  color: #C40B0B;
}

@supports (font-size: clamp( 3.125rem , 1.8647260274rem  +  6.301369863vw , 6rem )) {
  .content-appointment__num {
    font-size: clamp( 3.125rem , 1.8647260274rem  +  6.301369863vw , 6rem );
  }
}

@supports not (font-size: clamp( 3.125rem , 1.8647260274rem  +  6.301369863vw , 6rem )) {
  .content-appointment__num {
    font-size: calc(3.125rem + 2.875 * (100vw - 20rem) / 45.625);
  }
}

@supports (margin-bottom: clamp( 1.875rem , 1.4366438356rem  +  2.1917808219vw , 2.875rem )) {
  .content-appointment__num {
    margin-bottom: clamp( 1.875rem , 1.4366438356rem  +  2.1917808219vw , 2.875rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.4366438356rem  +  2.1917808219vw , 2.875rem )) {
  .content-appointment__num {
    margin-bottom: calc(1.875rem + 1 * (100vw - 20rem) / 45.625);
  }
}

@supports (font-size: clamp( 1rem , 0.9178082192rem  +  0.4109589041vw , 1.1875rem )) {
  .content-appointment__text {
    font-size: clamp( 1rem , 0.9178082192rem  +  0.4109589041vw , 1.1875rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9178082192rem  +  0.4109589041vw , 1.1875rem )) {
  .content-appointment__text {
    font-size: calc(1rem + 0.1875 * (100vw - 20rem) / 45.625);
  }
}

@supports (line-height: clamp( 1.375rem , 1.2654109589rem  +  0.5479452055vw , 1.625rem )) {
  .content-appointment__text {
    line-height: clamp( 1.375rem , 1.2654109589rem  +  0.5479452055vw , 1.625rem );
  }
}

@supports not (line-height: clamp( 1.375rem , 1.2654109589rem  +  0.5479452055vw , 1.625rem )) {
  .content-appointment__text {
    line-height: calc(1.375rem + 0.25 * (100vw - 20rem) / 45.625);
  }
}

.gallery {
  position: relative;
  padding-bottom: 14.75rem;
}

.gallery::before {
  content: "";
  position: absolute;
  background-image: url(../img/gallery/gallery_bg.svg);
  width: 100%;
  height: 100%;
  background-position: bottom 0 left 0;
  background-repeat: no-repeat;
  background-size: auto;
}

.gallery__container-small {
  position: relative;
  background-color: #fff;
  max-width: 52.875rem;
  -webkit-transform: translateY(-80px);
      -ms-transform: translateY(-80px);
          transform: translateY(-80px);
}

@supports (padding-top: clamp( 1.875rem , -0.0428082192rem  +  9.5890410959vw , 6.25rem )) {
  .gallery__container-small {
    padding-top: clamp( 1.875rem , -0.0428082192rem  +  9.5890410959vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , -0.0428082192rem  +  9.5890410959vw , 6.25rem )) {
  .gallery__container-small {
    padding-top: calc(1.875rem + 4.375 * (100vw - 20rem) / 45.625);
  }
}

@supports (padding-right: clamp( 0.9375rem , -1.0351027397rem  +  9.8630136986vw , 5.4375rem )) {
  .gallery__container-small {
    padding-right: clamp( 0.9375rem , -1.0351027397rem  +  9.8630136986vw , 5.4375rem );
  }
}

@supports not (padding-right: clamp( 0.9375rem , -1.0351027397rem  +  9.8630136986vw , 5.4375rem )) {
  .gallery__container-small {
    padding-right: calc(0.9375rem + 4.5 * (100vw - 20rem) / 45.625);
  }
}

@supports (padding-left: clamp( 0.9375rem , -1.0351027397rem  +  9.8630136986vw , 5.4375rem )) {
  .gallery__container-small {
    padding-left: clamp( 0.9375rem , -1.0351027397rem  +  9.8630136986vw , 5.4375rem );
  }
}

@supports not (padding-left: clamp( 0.9375rem , -1.0351027397rem  +  9.8630136986vw , 5.4375rem )) {
  .gallery__container-small {
    padding-left: calc(0.9375rem + 4.5 * (100vw - 20rem) / 45.625);
  }
}

@supports (margin-bottom: clamp( 1.875rem , 1.1900684932rem  +  3.4246575342vw , 3.4375rem )) {
  .gallery__subtitle {
    margin-bottom: clamp( 1.875rem , 1.1900684932rem  +  3.4246575342vw , 3.4375rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.1900684932rem  +  3.4246575342vw , 3.4375rem )) {
  .gallery__subtitle {
    margin-bottom: calc(1.875rem + 1.5625 * (100vw - 20rem) / 45.625);
  }
}

.tabs__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-bottom: 1px solid #D5D5D5;
}

@supports (margin-bottom: clamp( 1.875rem , 1.3270547945rem  +  2.7397260274vw , 3.125rem )) {
  .tabs__navigation {
    margin-bottom: clamp( 1.875rem , 1.3270547945rem  +  2.7397260274vw , 3.125rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.3270547945rem  +  2.7397260274vw , 3.125rem )) {
  .tabs__navigation {
    margin-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 45.625);
  }
}

.tabs__navigation ._tab-active {
  border-bottom: 3px solid #C40B0B;
  color: #C40B0B;
}

.tabs__title {
  text-align: center;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.15px;
  color: #02133C;
  padding-bottom: 0.9375rem;
}

.tabs__content {
  margin-top: -120px;
  -webkit-transform: translateY(120px);
      -ms-transform: translateY(120px);
          transform: translateY(120px);
}

.tabs__body {
  text-align: center;
}

.tabs__img img {
  width: 100%;
}

@supports (padding-bottom: clamp( 1.875rem , -3.0565068493rem  +  24.6575342466vw , 13.125rem )) {
  .customers {
    padding-bottom: clamp( 1.875rem , -3.0565068493rem  +  24.6575342466vw , 13.125rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , -3.0565068493rem  +  24.6575342466vw , 13.125rem )) {
  .customers {
    padding-bottom: calc(1.875rem + 11.25 * (100vw - 20rem) / 45.625);
  }
}

.customers__container-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}

.customers__box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
}

.customers__slider {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 66.666%;
          flex: 1 1 66.666%;
}

.customers__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}

.customers__slide {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.slide-customers {
  background-color: #fff;
  padding: 2.8125rem 2.75rem 2.5rem 2.6875rem;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.slide-customers__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.slide-customers__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  margin-bottom: 1.125rem;
}

.slide-customers__icon {
  border-radius: 50%;
  margin: 0px 1.0625rem 0px 0px;
}

.slide-customers__name {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.15px;
  color: #02133C;
}

.no-webp .impact{
  background-image: url(../img/impact/bg_image.png); }

.impact {
  background-color: #02133C;
}

@supports (padding-top: clamp( 1.875rem , -0.3715753425rem  +  11.2328767123vw , 7rem )) {
  .impact__container {
    padding-top: clamp( 1.875rem , -0.3715753425rem  +  11.2328767123vw , 7rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , -0.3715753425rem  +  11.2328767123vw , 7rem )) {
  .impact__container {
    padding-top: calc(1.875rem + 5.125 * (100vw - 20rem) / 45.625);
  }
}

@supports (padding-bottom: clamp( 1.875rem , -3.1113013699rem  +  24.9315068493vw , 13.25rem )) {
  .impact__container {
    padding-bottom: clamp( 1.875rem , -3.1113013699rem  +  24.9315068493vw , 13.25rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , -3.1113013699rem  +  24.9315068493vw , 13.25rem )) {
  .impact__container {
    padding-bottom: calc(1.875rem + 11.375 * (100vw - 20rem) / 45.625);
  }
}

.impact__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

@supports (margin-bottom: clamp( 1.875rem , 0.5051369863rem  +  6.8493150685vw , 5rem )) {
  .impact__box {
    margin-bottom: clamp( 1.875rem , 0.5051369863rem  +  6.8493150685vw , 5rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.5051369863rem  +  6.8493150685vw , 5rem )) {
  .impact__box {
    margin-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 45.625);
  }
}

.impact__box-content {
  margin-right: 6.9375rem;
}

.impact__subtitle {
  color: inherit;
}

.impact__img {
  -webkit-transform: translateY(-191px);
      -ms-transform: translateY(-191px);
          transform: translateY(-191px);
  max-width: 31.125rem;
}

.impact__img img {
  width: 100%;
}

.impact__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
}

.impact__item {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top 0 left 0;
  padding-left: 5.375rem;
}

.item-impact__title {
  font-weight: 900;
  font-size: 2.25rem;
  line-height: 1.1666666667;
  color: #C40B0B;
  margin-bottom: 0.1875rem;
}

.item-impact__text {
  color: #F5F5F5;
}

.appt {
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.appt__container-small {
  background-color: #fff;
  max-width: 52.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

@supports (padding-top: clamp( 0.9375rem , 0.1703767123rem  +  3.8356164384vw , 2.6875rem )) {
  .appt__container-small {
    padding-top: clamp( 0.9375rem , 0.1703767123rem  +  3.8356164384vw , 2.6875rem );
  }
}

@supports not (padding-top: clamp( 0.9375rem , 0.1703767123rem  +  3.8356164384vw , 2.6875rem )) {
  .appt__container-small {
    padding-top: calc(0.9375rem + 1.75 * (100vw - 20rem) / 45.625);
  }
}

@supports (padding-right: clamp( 0.9375rem , -0.7337328767rem  +  8.3561643836vw , 4.75rem )) {
  .appt__container-small {
    padding-right: clamp( 0.9375rem , -0.7337328767rem  +  8.3561643836vw , 4.75rem );
  }
}

@supports not (padding-right: clamp( 0.9375rem , -0.7337328767rem  +  8.3561643836vw , 4.75rem )) {
  .appt__container-small {
    padding-right: calc(0.9375rem + 3.8125 * (100vw - 20rem) / 45.625);
  }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.033390411rem  +  4.5205479452vw , 3rem )) {
  .appt__container-small {
    padding-bottom: clamp( 0.9375rem , 0.033390411rem  +  4.5205479452vw , 3rem );
  }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.033390411rem  +  4.5205479452vw , 3rem )) {
  .appt__container-small {
    padding-bottom: calc(0.9375rem + 2.0625 * (100vw - 20rem) / 45.625);
  }
}

@supports (padding-left: clamp( 0.9375rem , -0.5693493151rem  +  7.5342465753vw , 4.375rem )) {
  .appt__container-small {
    padding-left: clamp( 0.9375rem , -0.5693493151rem  +  7.5342465753vw , 4.375rem );
  }
}

@supports not (padding-left: clamp( 0.9375rem , -0.5693493151rem  +  7.5342465753vw , 4.375rem )) {
  .appt__container-small {
    padding-left: calc(0.9375rem + 3.4375 * (100vw - 20rem) / 45.625);
  }
}

.appt__title {
  font-weight: 900;
  color: #02133C;
  max-width: 35.125rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@supports (font-size: clamp( 1rem , 0.7808219178rem  +  1.095890411vw , 1.5rem )) {
  .appt__title {
    font-size: clamp( 1rem , 0.7808219178rem  +  1.095890411vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.7808219178rem  +  1.095890411vw , 1.5rem )) {
  .appt__title {
    font-size: calc(1rem + 0.5 * (100vw - 20rem) / 45.625);
  }
}

@supports (line-height: clamp( 1.25rem , 0.9760273973rem  +  1.3698630137vw , 1.875rem )) {
  .appt__title {
    line-height: clamp( 1.25rem , 0.9760273973rem  +  1.3698630137vw , 1.875rem );
  }
}

@supports not (line-height: clamp( 1.25rem , 0.9760273973rem  +  1.3698630137vw , 1.875rem )) {
  .appt__title {
    line-height: calc(1.25rem + 0.625 * (100vw - 20rem) / 45.625);
  }
}

.appt__button {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (max-width: 61.99875em) {
  .header__container {
    height: 100vh;
  }

@supports (margin-bottom: clamp( 0.625rem , -0.2698545861rem  +  4.4742729306vw , 1.875rem )) {
    .header__top {
      margin-bottom: clamp( 0.625rem , -0.2698545861rem  +  4.4742729306vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , -0.2698545861rem  +  4.4742729306vw , 1.875rem )) {
    .header__top {
      margin-bottom: calc(0.625rem + 1.25 * (100vw - 20rem) / 27.9375);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -0.0922818792rem  +  6.711409396vw , 3.125rem )) {
    .body-header__title {
      margin-bottom: clamp( 1.25rem , -0.0922818792rem  +  6.711409396vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -0.0922818792rem  +  6.711409396vw , 3.125rem )) {
    .body-header__title {
      margin-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 27.9375);
    }
}

  .whoweare__container {
    margin-top: 0rem;
  }

  .input-appointment__input {
    width: 100%;
  }

  .impact__img {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  .impact__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 47.99875em) {
  .header__top {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
    margin-bottom: 7.8125rem;
  }

  .header__nav {
    background-color: transparent;
    padding: 0;
  }

  .top-header__hours {
    display: none;
  }

  .top-header__contact {
    display: none;
  }

  .top-header__button {
    color: #fff;
  }

  .nav-header {
    margin-bottom: 0;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    overflow: auto;
    background-color: #fff;
    padding: 8.75rem 0.9375rem 2.5rem 2.5rem;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    z-index: 4;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 70px;
    left: -100%;
    top: 0;
    background-color: #fff;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.25rem;
    margin-bottom: 1.25rem;
  }

  .body-header__title {
    margin-bottom: 7.8125rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span,
  .menu-open .icon-menu::before,
  .menu-open .icon-menu::after {
    background-color: #000;
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__top-left {
    -webkit-box-flex: 1;
        -ms-flex: 1 100%;
            flex: 1 100%;
  }

  .footer__top-middle {
    -webkit-box-flex: 1;
        -ms-flex: 1 100%;
            flex: 1 100%;
  }

  .footer__top-right {
    -webkit-box-flex: 1;
        -ms-flex: 1 100%;
            flex: 1 100%;
  }

  .left-footer {
    text-align: center;
  }

  .left-footer__social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .middle-footer__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .middle-footer__title {
    text-align: center;
  }

  .right-footer__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .whoweare__images {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    padding-bottom: 0;
    margin-top: 0;
  }

  .promise__items {
    gap: 1.25rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .promise__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .services__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .appointment__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .appointment__input {
    margin-bottom: 1.875rem;
  }

  .input-appointment {
    padding: 1.875rem 1.25rem;
  }

  .gallery__container-small {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  .tabs__navigation {
    display: none;
  }

  .tabs__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.3125rem;
  }

  .customers__container-small {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .customers__box {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .impact__box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .impact__box-content {
    margin-right: 0;
    margin-bottom: 1.875rem;
  }
}

@media (max-width: 47.99875em) and (max-width: 47.99875em) {
  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    background-color: #fff;
  }
}

@media (max-width: 29.99875em) {
  .bottom-footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .bottom-footer__left {
    margin-bottom: 0.625rem;
  }

  .customers {
    padding-top: 1.875rem;
  }

  .impact__items {
    justify-items: center;
    text-align: center;
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .appt {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  .appt__container-small {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #E30B0B;
  }

  .contact-top-header__item a:hover {
    color: #C40B0B;
  }

  .menu__link:hover {
    color: #C40B0B;
  }

  .middle-footer__link:hover {
    color: #C40B0B;
  }

  .right-footer__link:hover {
    color: #C40B0B;
  }

  .services__item:hover {
    -webkit-box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
            box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
  }
}

.webp .header{ background-image: url(../img/header/header_bg.webp); }

.webp .whoweare__container{ background-image: url(../img/whoweare/whoweare_bg.webp); }

.webp .impact{ background-image: url(../img/impact/bg_image.webp); }